body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.hero {
    background-image: url(images/welcome-back.jpg);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.arrow {
    font-size: 2rem;
    animation: jump 1s infinite;
    cursor: pointer;
}

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.main-content {
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jumbotron {
    background: linear-gradient(to right, #007bff, #0056b3);
}

.card .card-img-top{
    max-width: 300px;
}
.card {
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%; /* Make the image take the full width of the card */
    height: auto; /* Allow the height to adjust automatically */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
}

footer {
    background-color: #0056b3;
}
